<h1> Add this movie? </h1>

<p>
  <b>Title:</b>
  <%=h @movie.title %>
</p>

<p>
  <b>Overview:</b>
  <%=h @movie.overview %>
</p>

<p>
	<b>Score:</b>
	<%=h @movie.score %>
</p>

<p>
  <b>Rating:</b>
  <%=h @movie.rating %>
</p>

<p>
  <b>Released on:</b>
  <%=h @movie.released_on %>
</p>

<p>
	<b>Genre(s):</b>
	<%=h @movie.genres %>
</p>

<%= button_to 'Add', :controller=>"movies", :action=>"create", :method=>"post",
 	:movie=>{:title=>@movie.title, :overview=>@movie.overview, :score=>@movie.score, :rating=>@movie.rating,
		:released_on=>@movie.released_on, :genres=>@movie.genres } %><br />
<%= button_to 'Back', '/movies/results?title='+@searchTitle %>
