<h1>Editing movie</h1>

<% form_for(@movie) do |f| %>
  <%= f.error_messages %>

  <p>
    <%=h f.label :title %><br />
    <%=h CGI.unescapeHTML f.text_field :title %>
  </p>
  <p>
    <%=h f.label :overview %><br />
    <%=h CGI.unescapeHTML f.text_area :overview %>
  </p>
	<p>
		<%=h f.label :score %><br />
		<%=h f.text_field :score %>
	</p>
  <p>
    <%=h f.label :rating %><br />
    <%=h f.select :rating, [ 'G', 'PG', 'PG-13', 'R', 'NC-17' ] %>
  </p>
  <p>
    <%=h f.label :released_on %><br />
    <%=h f.date_select :released_on %>
  </p>
	<p>
		<%=h f.label :genres %><br />
		<%=h CGI.unescapeHTML f.text_area :genres %>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>